* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

li {
  font-size: 13px;
}

.header {
  padding: 10px 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
